/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: left;
  position: relative;
  overflow: hidden;
}

.heroContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heroText {
  flex: 1;
  max-width: 600px;
}

.heroImage {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.heroImage img {
  max-width: 300px;
  height: auto;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgb(0 0 0 / 20%);
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.buttons .button {
  margin-right: 1rem;
}

@media screen and (width <= 996px) {
  .heroBanner {
    padding: 2rem;
  }

  .heroContent {
    flex-direction: column;
  }

  .heroImage {
    margin-top: 2rem;
    justify-content: center;
  }
}
