.screenshots {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.screenshotImage {
  max-width: 80%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgb(0 0 0 / 10%);
}

.screenshotTitle {
  margin-top: 1.5rem;
}